*.DS_Store
**/COMPS_log.log
**/DownloadAnalyzerTPI_cache/
**/DownloadAnalyzerTPI_cache/*
**/__pycache__/
**/__pycache__/*
**/post_channel_config.json
**/resampled_parameter_sets_short.csv
**/test*
**/HIVCalibSite_*
**/Nyanza--*
**/output
**/*.pdf
**/*.out

202301_Nyanza_Baseline_MalariaOngoing_ARTMort
202301_Nyanza_Baseline_MalariaOngoing_ARTMort/**

202301_Nyanza_Baseline_MalariaOngoing_original
202301_Nyanza_Baseline_MalariaOngoing_original/**

202301_Nyanza_MATUMAINI_MalariaOngoing/MH_test/**
202301_Nyanza_MATUMAINI_MalariaOngoing/MH_test_1/**
202301_Nyanza_MATUMAINI_MalariaOngoing/IDM_figures_1
202301_Nyanza_MATUMAINI_MalariaOngoing/IDM_figures_1/**

202301_Nyanza_MATUMAINI_MalariaOngoing/croi/**
202301_Nyanza_MATUMAINI_MalariaOngoing/croi_2/**