
.vscode/

*.DS_Store
**/COMPS_log.log
**/DownloadAnalyzerTPI_cache/
**/DownloadAnalyzerTPI_cache/*
**/__pycache__/
**/__pycache__/*
**/post_channel_config.json
**/resampled_parameter_sets_short.csv
**/test*
**/HIVCalibSite_*
**/Nyanza--*
**/output
**/*.pdf
**/*.out

Analysis/*.csv

202301_Nyanza_Baseline_MalariaOngoing_ARTMort
202301_Nyanza_Baseline_MalariaOngoing_ARTMort/**

202301_Nyanza_Baseline_MalariaOngoing_original
202301_Nyanza_Baseline_MalariaOngoing_original/**

202301_Nyanza_MATUMAINI_MalariaOngoing/MH_test/**
202301_Nyanza_MATUMAINI_MalariaOngoing/MH_test_1/**
202301_Nyanza_MATUMAINI_MalariaOngoing/IDM_figures_1
202301_Nyanza_MATUMAINI_MalariaOngoing/IDM_figures_1/**

202301_Nyanza_MATUMAINI_MalariaOngoing/croi/**
202301_Nyanza_MATUMAINI_MalariaOngoing/croi_test/**
202301_Nyanza_MATUMAINI_MalariaOngoing/croi_2/**
202301_Nyanza_MATUMAINI_MalariaOngoing/art/**
202301_Nyanza_MATUMAINI_MalariaOngoing/minimal/**
202301_Nyanza_MATUMAINI_MalariaOngoing/treatment/**
202301_Nyanza_MATUMAINI_MalariaOngoing/treat/**
.Rproj.user

Analysis/.RData
Analysis/.Rhistory
Analysis/Analysis.RData

**/*.out

Analysis/Figures_GlobalMentalHealth/**
Analysis/Figures_manuscript/**
Analysis/Impact_Manuscript_Figures/**.csv
Analysis/**.csv
Analysis/zambia_analysis.Rmd
Analysis/Impact_Manuscript_Figures/scrap_work.Rmd